*{
  margin:0;
  padding:0;
  text-decoration: none;
  box-sizing: border-box;
}
.container{
  display:flex;
  position: relative;
}

main{
  width: 100%;
  padding: 1%;
  /* background-image: url("../public/Back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; */
}

.sidebar{
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
}

.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}

.logo{
  font-size: 30px;
}

.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover{
  background:lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.active{
  background: lightskyblue;
  color: #000;
}

.icon, .link_text{
  font-size: 20px;
}

/* div {
  color: white;
} */

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px;
  box-sizing: border-box;
  width: 100%;
}

.small-box {
  border-radius: 10px;
  display: block;
  position: relative;

  margin-bottom: 20px;

}

h3 {
  padding: 15px;
}

p {
  padding: 20px;
}

@media only screen{
  .container{
    max-width: 1960px;
}
}

.small-box .small-box-footer{
  background-color: rgb(0, 0,0,.1);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  color: white;
  /* z-index: 10; */
}

a{
  text-decoration: none;
}



/* Login */
 .App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
} 
.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid dodgerblue;
    border-radius: 10px;
    margin: 0.5rem;
    box-shadow: rgb(230, 115, 230) 1px 2px 3px 1px;
  }
}

/* label {
  text-align: left;
  padding: 0.25rem 0;
} */

/* input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
} */

#genbtn {
  border: none;
  background-color:#7439db;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color:whitesmoke ;
}

.card{
  background-color: transparent;
}

.link-btn {
  background: none;
  color:whitesmoke;
  text-decoration: underline;
}









/* MorningBatch */
.Mrng {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Present {
  background-color: RGBA(11,156,49,1) !important;
}
.Absent {
  background-color: RGBA(240, 41, 52, 0.8) !important;
}
.Late {
  background-color: RGBA(240, 142, 41, 1) !important;
}

label{
  display: inline-block;
  text-align: left;
}

.btn-group{
  position: relative;
  vertical-align: middle;
}









@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}